/************************/
/*   LAYOUT             */
/************************/

small {
  font-size: 70%;
}



/*
ol {
    counter-reset: list;
}
ol > li {
    list-style: none;
    position: relative;
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
    position: absolute;
    left: -1.43em;
}

@media screen and (max-width: 600px) {
  #vice {
    display: none;
  }
}
*/
